body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* Game Title section | <header> */
.header {
  padding: 3em 1em;
  text-align: center;
  background-color: #04082e;
  font-size: 20px;
  color: #eebd6b;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1.5px solid #0f8b8d;
  border-top: 1.5px solid #0f8b8d;
}
/* Game Text Menu section | <nav> */
.displayTextMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px;
  min-height: 17.4%;
  text-align: center;
  background-color: #3355dd;
  font-size: 16px;
  color: #bfe6ef;
  font-family: "Times New Roman", Times, serif;
  border-top: 1.5px solid #0f8b8d;
}
.resetGameButtons {
  outline: 2px groove #000000;
  border: none;
  margin: 10px 10px 5px;
  min-width: 40px;
  min-height: 25px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  background-color: #0f8b8d;
  border-radius: 4px;
  letter-spacing: 2px;
}
.resetGameButtons:hover {
  cursor: pointer;
  outline: 2px groove #eebd6b;
  background-color: #04082e;
  color: #eebd6b;
}
/* Game Content section | <main> */ /*- displays buttons / settings & Game Board */
.gameContentMenu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #447695;
  border-top: 2px solid #0f8b8d;
  border-bottom: 2px solid #0f8b8d;
}
.gameContentMenu button {
  outline: 2px groove #000000;
  border: none;
  margin: 0 0 20px;
  min-width: 38vh;
  min-height: 5vh;
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  background-color: #0f8b8d;
  border-radius: 4px;
  letter-spacing: 2px;
}
.gameContentMenu button:hover {
  cursor: pointer;
  outline: 2px groove #eebd6b;
  background-color: #04082e;
  color: #eebd6b;
}
.gameBoard {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 0px;
  background-color: #447695;
  border-top: 2px solid #0f8b8d;
  border-bottom: 2px solid #0f8b8d;
}
.gameBoard div {
  display: flex;
  width: 30%;
  min-height: 10vh;
  outline: 1px groove #3355dd;
  background-color: #000000;
  text-align: center;
}
.gameBoard img {
  margin: 0;
  padding: 1px;
  width: 8vh;
  height: 8vh;
  align-self: center;
  flex: 1;
}
.topBorder {
  border-top: 1.5px solid #0f8b8d;
}
.botBorder {
  border-bottom: 1.5px solid #0f8b8d;
}
.leftBorder {
  border-left: 1.5px solid #0f8b8d;
}
.rightBorder {
  border-right: 1.5px solid #0f8b8d;
}
/* Settings popup page child of gameContentMenu */
.formBox {
  flex: 1;
  display: flex;
  min-width: 45vh;
  min-height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #0f8b8d;
  border-radius: 4px;
  background-color: #3355dd;
  color: #eebd6b;
}
.formBox h2 {
  color: #000000;
  font-size: 20px;
}
.formBox input {
  box-sizing: border-box;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em 0.25em 0;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 4px;
  text-align: center;
}
.formBox input:not(textarea) {
  line-height: 1;
  height: 36px;
}
.formBox input:focus {
  border-color: #000000;
  box-shadow: 0 0 0 3px #eebd6b;
  outline: 3px solid transparent;
}
.formBox button {
  margin: 5%;
  min-width: 33vh;
  min-height: 5vh;
}
.radioContainer {
  display: flex;
}
.radioContainer input[type="radio"] {
  display: none;
  margin: 10px;
}
.radioContainer input[type="radio"] + label {
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  width: 60px;
  height: 20px;
  margin: 5px;
  padding: 4px 12px;
  text-align: center;
  background-color: #0f8b8d;
  color: #ffffff;
}
.radioContainer input[type="radio"]:checked + label {
  background-color: #04082e;
  color: #eebd6b;
  outline: 2px groove #eebd6b;
}
.radioContainer label {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
/* Footer section | <footer> */ /* includes signature */
.footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #04082e;
  font-size: 12px;
  color: #eebd6b;
  border-bottom: 1.5px solid #0f8b8d;
}
.logo {
  padding-left: 10px;
}
/* end of main layout */
p {
  margin: 10px 0 4px;
  font-size: 16px;
}
main {
  background-color: #447695;
}
/* @ MEDIA QUERIES */
/* Really Small width device . ie galaxy fold */
@media (max-width: 280px) {
  .formBox {
    min-width: 40vh;
  }
}
/* Medium devices (tablets etc) */
@media (min-width: 768px) {
  .displayTextMenu {
    font-size: 24px;
  }
  .resetGameButtons {
    font-size: 16px;
  }
  .gameBoard img {
    width: 9vh;
    height: 9vh;
  }
  p {
    font-size: 24px;
  }
  .formbox h2 {
    font-size: 28px;
  }
  .formBox input {
    font-size: 24px;
  }
  .formBox input[type="radio"] + label {
    font-size: 16px;
    width: 70px;
    height: 20px;
  }
  .formBox {
    min-width: 48vh;
    min-height: 40vh;
    font-size: 14px;
  }
  .gameContentMenu button {
    min-width: 40vh;
    min-height: 5vh;
    font-size: 20px;
  }
  .header {
    font-size: 30px;
  }
  .menu {
    font-size: 20px;
  }
  .gameBoard {
    padding: 6%;
  }
  .footer {
    font-size: 14px;
  }
}
/* Large devices (ipads / laptops etc) */
@media (min-width: 1025px) {
  .formContainer {
    transition: opacity 0.7s;
  }
  .formBox input[type="radio"] + label {
    font-size: 18px;
    width: 80px;
    height: 28px;
  }
  .gameContentMenu button {
    transition: opacity 0.7s;
  }
  .gameContentMenu button:hover {
    transition: opacity 0.7s;
  }
  .winBackground {
    animation-name: colorchange;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes colorchange {
    0% {
      background-color: #996633;
    }
    25% {
      background-color: #339933;
    }
    50% {
      background-color: #336699;
    }
    75% {
      background-color: #993399;
    }
    100% {
      background-color: #996433;
    }
  }
  .gameBoard {
    padding: 1% 30%;
  }
  .fadeInBoard {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  .fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .formBox {
    min-width: 60vh;
    min-height: 40vh;
    font-size: 14px;
    transition: opacity 0.7s;
  }
  .header {
    font-size: 30px;
    padding: 2em 1em;
  }
  .menu {
    font-size: 18px;
    padding: 1em 1em;
  }
  .footer {
    font-size: 14px;
    padding: 0.5em 0.5em;
  }
}
/* Extra large devices (large desktops etc) */
@media (min-width: 1920px) {
  .header {
    font-size: 30px;
  }
  .menu {
    font-size: 18px;
  }
  .gameBoard {
    padding: 1% 30%;
  }
  .footer {
    font-size: 16px;
  }
}
